{% extends "base.html" %}


{% block title %} {{titulo}} {% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron" style="margin-top: 200px;">
        <a href="/add" style="margin-top: 20px" class="btn btn-success btn-lg">Novo usuário</a>
        <div class="container">
            <h1 class="text-center">Lista usuários</h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Opeções</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                    <tr id="usuario-row-{{usuario.Id}}">
                        <td>{{usuario.Id}}</td>
                        <td>{{usuario.Nome}}</td>
                        <td>{{usuario.Email}}</td>
                        <td>
                            <a href="" class="btn btn-large btn-danger" onclick="deletarUsuario('{{usuario.Id}}')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-large btn-warning" href="/atualizar/{{usuario.Id}}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block js%}
<script>
    function deletarUsuario(pk) {
        $.ajax({
            url: "/v1/delete/" + pk,
            method: "delete",
            success : function (data) {
                $("#usuario-row-" + pk).remove()
            }
        })

    }

</script>
{% endblock %}
